---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

const heroContent = {
  title: "Frequently asked questions",
  description:
    "Have a different question and can’t find the answer you’re looking for? Reach out to our support team by sending us an email and we’ll get back to you as soon as we can.",
};
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Hero title={heroContent.title} description={heroContent.description} />
    <section>
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div
          class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2"
        >
          <div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                I need to open an account, how do I do it?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                To open an account, you can either call us or send us an email.
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                How do I send my jobs?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                E-mail, FTP or We Transfer
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                What quality control measures have you adopted?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Quality is controlled by the quality assurance team.
                Additionally, random samples are reviewed by the production
                managers.
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                What to do if I am not satisfied with my order?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">Do not Pay</p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >

                Could you send me your pricelist through Email?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Sure to receive our updated pricelist, Email a request to
                <a href="mailto:sales@valuearc.com" class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline">sales@valuearc.com</a>
               
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >

                When do I get the invoice?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                You could choose Daily, Weekly, Fortnightly or One month invoice
                options.
              </p>
            </div>
          </div>
          <div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                What communications do you have for long term business?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                All the latest software tools please let us know your
                requirement and we would be able to help you with any IT
                requirement
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                How do I know that you have capabilities to do what I want?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                We have satisfied customer to whom you could speak.
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                What file formats do you support?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                We support all the file formats that are required for the custom
                design industry, please ask us.
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                How will I get my orders back?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                You will be notified via Email that your job had been completed,
                files could be sent back to the customers through FTP or We
                Transfer.
              </p>
            </div>
            <div class="mb-10">
              <h3
                class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
              >
                <svg
                  class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"></path></svg
                >
                What are your turn times?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Guaranteed next business day for U.S. and Canadian customers,
                for the rest of the world 24hours from the receipt of artwork.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }
</style>
