---
import { Image } from 'astro:assets';
import Img6 from '../assets/images/Home-page-image_6.png';
---
<div class="service-img"><Image src={Img6} alt=''  /></div>
<div class="card-container">
  <div>
	
    <h2>Print Production Art</h2><p>
      Vector art conversions, Color separations, Print Name-drops, Sublimation
      grading, Virtual samples, and Product mock-ups.
    </p>
  </div>
  <div>
    <h2>Embroidery Digitizing</h2><p>
		Regular embroidery, Applique designs, Puff Embroidery/3D Foam, Textured embroidery. We produce embroidery designs for all types of garments including Jerseys, T-shirts, polo shirts, jackets, long sleeve t-shirts, sweatshirts, caps, towels, bags, and uniforms.
    </p>
  </div>
  <div>
    <h2>Photo/Image Editing</h2><p>
		Background Removal, Clipping Path, Color flip, Clear Mannequin /Ghost Mannequin Effect, Drop Shadow Making and Clipping path Retouch.
    </p>
  </div>
</div>

<style>

.service-img{
	display: flex;
	justify-content: center;
}
  .card-container {
    display: flex;
	justify-content: center;
	align-items: center;
  }

  .card-container div {
    background: #39446B;
   padding: 20px;
   margin: 10px;
   width: 300px;
   height: 300px;
   border-radius: 5px;

  }

  .card-container div h2 {
   margin: 0;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 10px;
  }
  
</style>
