---

import Eagle from './Eagle.astro';
---

<div class="hero">
    <div>
    <h2>
        Value Arc Design Services</h2>
        <p><span>Offers a variety of design services, including converting images to vectors, Custom Screen Print Namedrops, Hard Goods Namedrops, Customer Proofs, Template Creation, Sublimation, Image Optimization, Image Silhouetting, Ghost Mannequin, Color Separation and Embroidery Digitizing Services.</span>
        </p>
        </div>
    </div>
    
        
<style>
    .hero{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.75rem;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .hero p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero p span{
        width: 1024px;
        font-size: 1.25rem;
        text-align: center;
    }
</style>