---
import HomeSwiper from './Swiper'
---

<div class="header"><HomeSwiper  client:load /></div>


<style>
    .header{
        margin: auto;
        display: flex;
        justify-content:space-between;
    }
</style>