---
import { Image } from 'astro:assets';
import myImage from '../assets/images/logo_web.png'; 
---
<div class="logo-container">
    <div><Image src={myImage} alt="Logo"/></div> <h1>Value Arc</h1>
</div>

<style>

    .logo-container{
        display: flex;
        align-items: center;
    }

    .logo-container h1{
        margin-top: 10px;

    }
</style>